body {
	padding-bottom: 15px;
}

.navbar {
  	border-bottom: 1px solid grey;
}

.navbar a {
  	color: #e6e6e6;
}

.nav-item a {
	margin: 0 10px 0 10px;
}

.navbar-brand {
	font-size: 25px;
}

/*.center {
	text-align: center;
	display: block
	margin-left: auto;
	margin-right: auto;
}
*/

.center img {
	display:block;
	height: 70%;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

.container {
	margin-top: 15px;
	/*border: 1px solid #73AD21;*/
}



/*.navbar {
	border: 1px solid #73AD21;
}

.navbar-nav {
	border: 1px solid #73AD21;
}*/

html, body {
	background-color: black;
	color: #e6e6e6;
}

.socialMediaList {
	display:block;
	width: 20%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	/*border: 1px solid #73AD21;*/
	font-size: 20;
}
.socialMediaImgContainer  {
	display: inline-block;
	width: 15%;
	text-align: center;
	margin: 1%;
	/*border: 1px solid #73AD21;*/
}
